@media (min-width: 320px) and (max-width: 480px) {
  
  body{
    text-align: center;
  }
  h1 {
    font-size: 27px;
    line-height: 36px;
  }

  .banner{
    background: white;
  }
  .banner-left .editors{
    font-size: 14px;
  }
  .banner-left .icon-01 {
    top: -3px;
    left: -7px;
  }
  .banner-left .icon-01 img{
    width: 67%;
  }
  .banner-left h1 {
    font-size: 27px;
    line-height: 36px;
  }
  .company{
    padding: 0px;
  }
  .features-right {
    text-align: center;
  }
  .features-right h1{
    font-size: 27px;
    line-height: 36px;
  }
  .jackpot{
    padding: 0px;
  }
  .jackpot h1{
    border: none;
    font-size: 27px;
    line-height: 36px;
  }
  .features-02 p {
    padding-right: 0px;
  }
  .design .design-right h1 {
    font-size: 27px;
    line-height: 36px;
    padding: 38px 0px;
  }
  .ultimate h1 {
    color: #242f51;
    font-size: 27px;
    font-weight: 600;
    padding-right: 0px;
    line-height: 36px;
  }
  .ultimate .p-top {
    padding-right: 0px;
  }
  .pricing{
    padding-top: 0px;
  }
  .testimonial{
    background: white;
  }
  .FAQ{
    padding-top: 0px;
  }
  .download .row{
    flex-direction: column-reverse;
  }
  .download-l img {
    padding-bottom: 45px;
  }
  
}